<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Search</title>
  </head>
  <body>
    <form action="/" method="GET">
      <input
        type="text"
        name="search_term"
        placeholder="Enter your restaurant name..."
      />
      <button type="submit">Search</button>
    </form>
    <div>
      <% restaurants.forEach(restaurant => { %>
      <h1><%= restaurant.name.toUpperCase() %></h1>
      <p><%= restaurant.location.toUpperCase()%></p>
      <%})%>
    </div>
  </body>
</html>
